body{
    margin: 20px 150px;
}
header{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin: 40px 0px;
    height: 50px;
    box-shadow: 0px 16px 8px 0px rgba(34, 60, 80, 0.2);
}
header nav{
    display: flex;
    gap: 10px;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: gray;
}
header nav select{
    border: none;
    color: aqua;
}
.rol{
    color: #00bae5;
    border: 2px solid #00bae5;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}
.roll{
    color: #19b47b;
    border: 2px solid #19b47b;
    border-radius: 10px;
    width: 140px;
    height: 40px;
}
.rolle{
    color: #19b47b;
    border: 2px solid #19b47b;
    border-radius: 10px;
    width: 190px;
    height: 40px;
    background-color: #231f20;
}
.blue h3 a{
    color: black;
}
fieldset h4 a{
    color: black;
}
.blue{
    display: flex;
    justify-content: space-between;
}
.blue h1{
    margin-left: 15px;
}
.blue h3{
    margin-right: 15px;
}
.login input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
}
.login{
    margin-left: 15px;
}
.login button{
    width: 200px;
    height: 55px;
    background-color: #87c349;
    border-radius: 5px;
    border: 0.5px solid gray;
}
.bad{
    background-color: #2b3376;
}
.bad{
    color: white;
}
.bad h3 a{
    color: white;
}
.norm{
    display: flex;
}
.col_1 ul,.col_2 ul,.col_3 ul,.col_4 ul{
    list-style: none;
}
footer{
    background-color: #231f20;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
}
footer .row ul li{
    color: #778390;
}
.sad{
    color: green;
}
.row{
    display: flex;
}
.der{
    display: flex;
    gap: 10px;
}
.der i{
    background-color: white;
    border-radius: 2px;
    font-size: 25px;
    color: black;
}
.rek{
    color: white;
    margin-left: 40px;
}
